<%= render 'layouts/learn_nav' %>

<div class="container">
	<div class="row">
        <div class="col-lg-6">
            <h1>Javascript Developer Course</h1>
        </div>
        <div class="col-lg-6">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger align-middle" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20%</div>
            </div>
        </div>
    </div>
	<hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header">Lesson 1</h5>
                <div class="card-body">
                    <h5 class="card-title">What is JavaScript?</h5>
                    <p class="card-text">Explore the quirky history of the JavaScript language</p>
                    <p class="card-text">Learn how to use the JavaScript console and write your first line of JavaScript code</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header">Lesson 2</h5>
                <div class="card-body">
                    <h5 class="card-title">Data Types & Variables</h5>
                    <p class="card-text">Use a variety of data types to represent data in your code</p>
                    <p class="card-text">Learn how to store data using variables</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header">Lesson 3</h5>
                <div class="card-body">
                    <h5 class="card-title">Conditionals</h5>
                    <p class="card-text">Translate real-life decisions into code using conditional statements</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header">Lesson 1</h5>
                <div class="card-body">
                    <h5 class="card-title">Javascript Basics</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header">Lesson 1</h5>
                <div class="card-body">
                    <h5 class="card-title">Javascript Basics</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header">Lesson 1</h5>
                <div class="card-body">
                    <h5 class="card-title">Javascript Basics</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header">Lesson 1</h5>
                <div class="card-body">
                    <h5 class="card-title">Javascript Basics</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>

</div>