<%= render 'layouts/learn_nav' %>

<div class="container">
	<div class="row">
        <div class="col-lg-6">
            <h1>Deep Reinforcement Learning Course</h1>
        </div>
        <div class="col-lg-6">
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger align-middle" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">20%</div>
            </div>
        </div>
    </div>
	<hr>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header">Lesson 1</h5>
                <div class="card-body">
                    <h5 class="card-title">Foundations of Reinforcement Learning</h5>
                    <p class="card-text">Master the fundamentals of reinforcement learning by writing your own implementations of many classical solution methods.</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header">Lesson 2</h5>
                <div class="card-body">
                    <h5 class="card-title">Value-Based Methods</h5>
                    <p class="card-text">Apply deep learning architectures to reinforcement learning tasks. Train your own agent that navigates a virtual world from sensory data.</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header">Lesson 3</h5>
                <div class="card-body">
                    <h5 class="card-title">Policy-Based Methods</h5>
                    <p class="card-text">Learn the theory behind evolutionary algorithms and policy-gradient methods. Design your own algorithm to train a simulated robotic arm to reach target locations.</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h5 class="card-header">Lesson 4</h5>
                <div class="card-body">
                    <h5 class="card-title">Multi-Agent Reinforcement Learning</h5>
                    <p class="card-text">Learn how to apply reinforcement learning methods to applications that involve multiple, interacting agents. These techniques are used in a variety of applications, such as the coordination of autonomous vehicles.</p>
                    <a href="#" class="btn btn-primary">Start</a>
                </div>
            </div>
        </div>
    </div>
    
    <br><br>

</div>