

.nav-title {
    text-transform: none;    
}

.nav-profile-pic {
    width: 50px;
    height: 50px;
}

#left {
	background-image: linear-gradient(to right, #0072FF, #005C97);
	height: 100%;
}

#right {
	background-image: linear-gradient(to right, #F80759, #F11712);
}

