<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>The Closer Web Project</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <%= link_to "I'm a learner", learner_dashboard_path, class: "btn btn-block btn-primary btn-lg" %>
        </div>

        <div class="col-lg-6">
            <%= link_to "I'm an employer", projects_path, class: "btn btn-block btn-primary btn-lg" %>
        </div>
    </div>
</div>

