<%= render "layouts/learn_nav" %>

<div class="container">
	<div class="row">

        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="https://www.itsnicethat.com/system/files/122018/5c1781db7fa44c5a800003ac/index_default/INT-ROTY-GraphicDesign-List.png?1545203083" height="200px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Graphic Designer Course </h5>
                    <p class="card-text">Become a graphics designer by completing a variety of projects for your portfolio.</p>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-primary">Apply course</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="https://cdn.mos.cms.futurecdn.net/EzgdmaCQuT84bgDL4fhXZS.jpg" height="200px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Javascript Developer Course</h5>
                    <p class="card-text">Become a Front-End Web Developer by completing a variety of projects for your portfolio - become an HTML, CSS and JavaScript pro!</p>
                </div>
                <div class="card-body">
                    <p class="card-test">Progress</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width: 87%">87%</div>
                    </div>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-primary">View course</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <img class="card-img-top" src="https://res.cloudinary.com/teepublic/image/private/s--Km-rNv4e--/t_Preview/b_rgb:191919,c_lpad,f_jpg,h_630,q_90,w_1200/v1503921169/production/designs/1856074_1.jpg" height="200px" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Javascript Developer Course</h5>
                    <p class="card-text">Become a Front-End Web Developer by completing a variety of projects for your portfolio - become an HTML, CSS and JavaScript pro!</p>
                </div>
                <div class="card-body">
                    <p class="card-test">Progress</p>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" style="width: 17%;">17%</div>
                    </div>
                </div>
                <div class="card-body">
                    <a href="#" class="card-link btn btn-primary">View course</a>
                </div>
            </div>
        </div>
    </div>

</div>